.column {
    float: left;
  }
  
.left {
  width: 18%;
  background-color: #128671;
  color: #FFFFFF;
}
  
.right {
  width: 82%;
}

.logo {
  width: 60%;
  padding: 20%;
}
.left-menu {
    font-family: sans-serif;
    font-size: 17px;
    line-height: 300%;
    text-align: center;

}
a, a:visited { 
    color: white; 
    text-decoration:none;
}
a:hover, a:active {
    color: #FFD058;
}
.icon {
  width: 20px;
}
.search {
  border: none;
  background-color: #F7F7F7;
  width: 80%;
  padding: 9px;
  font-size: 15px;

}
.head {
  background-color: #F7F7F7;
}
.click {
  padding-left: 15px;
  width: 15px;
}
.right-corner {
  padding: 9px;
  width: 20px;
}
.menu-img {
  width: 20px;
}
.mascot {
  width: 70%;
  padding-top: 50%;
  padding-bottom: 10%;
}
.margin-main {
  margin: 50px;
  font-family: sans-serif;
}
.top-img {
  width: 33px;
  margin-right: 10px;
}
